
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />

<app-user-layout></app-user-layout>

<div class="container mt-4 mt-sm-4 mb-4">
  <div class="row">
    <div class="col-md-12">

      <h3 class="bold mb-0">LOAN NOTIFICATIONS</h3>
      <hr />

      <div class="row my-5">
        <div class="col-md-12">

          <div class="row text-center text-muted">
            <div class="col-md-12">
              <h1><i class="far fa-bell"></i></h1>
              <h5 class="bold mb-0 mt-0">
                No Notification Here
              </h5>
            </div>
          </div>

        </div>
      </div>

      <div class="row mx-1">

        <div class="col-md-12">

          <div class="card border-success my-2">
            <div class="card-body">

              <h4 class="bold mb-0 mt-0">
                LOAN REQUEST
                <span class="text-success"><i class="fa fa-arrow-right fa-fw"></i></span>
              </h4>
              <p class="type-6 text-muted">sdjjdkfrew34i4u353958tueijtgerjer984turfjsdigh4tuyijrgi</p>

              <hr />
              <div class="row">
                <div class="col-md-4">

                  <h5 class="bold">AMOUNT</h5>
                  <h4 class="text-blue mb-0 bold">10002.739726027396</h4>
                  <p class="text-muted type-7-2 semi-bold mb-0">@ 5% for 2 days</p>
                  <p class="text-dark type-6 mb-4 mb-md-0 semi-bold">(10000 + <span class="text-success">2.739726027395591</span>)</p>

                </div>

                <div class="col-md-4">

                  <h5 class="bold">YOUR REQUESTED RATE</h5>
                  <div class="row mb-4">
                    <div class="col-md-8">
                      <input type="number" class="form-control" placeholder="Negotiable Rate">
                      <p class="small text-muted mb-0">You can even allow 0% rate.</p>
                    </div>
                  </div>

                </div>

                <div class="col-md-4">

                  <h5 class="bold">YOU WILL RECEIVE</h5>
                  <h4 class="text-blue mb-0 bold">10002.739726027396</h4>
                  <p class="text-muted type-7-2 semi-bold mb-0">@ 5% for 2 days</p>
                  <p class="text-dark type-6 mb-4 mb-md-0 semi-bold">(10000 + <span class="text-success">2.739726027395591</span>)</p>

                </div>

              </div>

              <hr />

              <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                  <div class="row mt-2">
                    <div class="col-md-6">
                      <button class="btn btn-primary btn-sm btn-block my-2 my-sm-0">Negotiate Rate</button>
                    </div>
                    <div class="col-md-6">
                      <button class="btn btn-success btn-sm btn-block">
                        APPROVE LOAN
                      </button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>

        <div class="col-md-12">

          <div class="card border-success my-2">
            <div class="card-body">

              <h4 class="bold mb-0 mt-0">
                LOAN REQUESTED
                <span class="text-blue"><i class="fa fa-arrow-right fa-fw"></i></span>
              </h4>
              <p class="type-6 text-muted">sdjjdkfrew34i4u353958tueijtgerjer984turfjsdigh4tuyijrgi</p>

              <hr />
              <div class="row">
                <div class="col-md-4">

                  <h5 class="bold">AMOUNT</h5>
                  <h4 class="text-blue mb-0 bold">10002.739726027396</h4>
                  <p class="text-muted type-7-2 semi-bold mb-0">@ 5% for 2 days</p>
                  <p class="text-dark type-6 mb-4 mb-md-0 semi-bold">(10000 + <span class="text-success">2.739726027395591</span>)</p>

                </div>

                <div class="col-md-4">

                  <h5 class="bold">PEER REQUESTED RATE</h5>
                  <h3 class="text-blue mb-4">15%</h3>

                </div>

                <div class="col-md-4">

                  <h5 class="bold">YOU WILL PAY</h5>
                  <h4 class="text-blue mb-0 bold">10002.739726027396</h4>
                  <p class="text-muted type-7-2 semi-bold mb-0">@ 15% for 2 days</p>
                  <p class="text-dark type-6 mb-4 mb-md-0 semi-bold">(10000 + <span class="text-success">2.739726027395591</span>)</p>

                </div>

              </div>

              <hr />

              <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-4">
                  <div class="row mt-2">
                    <div class="col-md-12">
                      <button class="btn btn-success btn-sm btn-block">
                        <i class="fa fa-check fa-fw"></i>
                        AGREE & ACCEPT
                      </button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>

<app-footer></app-footer>
