.big-text-shadow {
  text-shadow: 3px 4px 2px #00000030;
}

.vertical-nav {
  min-width: 17rem;
  width: 16rem;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1022;
  overflow-x: hidden;
  background-color: #ffffff;
  box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.4);
  transition: ease-in-out 0.3s;
  border-right: 1px solid #c1c1c1;
}

.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.3s;
  overflow-x: hidden;
}

.navbar {
  padding-left: 0;
  padding-right: 8px;
}

#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

.text-uppercase {
  letter-spacing: 0.1em;
}

.text-gray {
  color: #aaa;
}

.nav-link.sidebar-link {
  color: #0d83dd;
  font-size: 13px;
  letter-spacing: 0.3px;
}

.nav-link:hover.sidebar-link {
  background-color: #0d83dd;
  color: #ffffff;
}

#sidebarCollapse {
  padding: 0;
  margin: 0;
  padding: 6px 8px;
  font-size: 18px;
  border: none;
  background-color: #ffffff;
  color: #062942;
}

  #sidebarCollapse:hover {
    background-color: #eaf6fe;
    color: #062942;
  }

@media (max-width: 768px) {
  .vertical-nav {
    min-width: 14rem;
    width: 14rem;
    height: 100%;
  }

  #sidebar {
    margin-left: -15rem;
  }

    #sidebar.active {
      margin-left: 0;
    }

  #content {
    width: 100%;
    margin: 0;
  }

    #content.active {
      margin-left: 14rem;
      width: calc(100% - 14rem);
    }
}

/* Charts Stylings */
.display-chart-1 > canvas {
  max-width: 100%;
  max-height: 320px;
}

.mini-charts > canvas {
  max-width: 100%;
  max-height: 100px;
}
