@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


/* Background Colours
------------------------------------- */
.bg-blue {
  background-color: #0d83dd;
}

.bg-faint-blue {
  background-color: #eaf6fe;
}

/* Navbar
--------------------------------- */
.navbar {
  background-color: #ffffff;
  padding-top: 1px;
  padding-bottom: 0;
  padding-left: 30px;
  padding-right: 30px;
  border-bottom: 1px solid #ebebeb;
  /*
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 5x 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
	*/

  transition: ease-in-out 0.2s;
}

.navbar-effects {
  border-bottom: 1px solid #c1c1c1;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 5x 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
}

.navbar-nav .nav-item {
  padding-left: 16px;
}

.navbar-nav .nav-item-btn {
  padding-left: 6px;
}

.navbar-nav .nav-item .nav-link {
  color: #062942;
  font-size: 14px;
  font-weight: 500;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 3px solid transparent;
}

.navbar-nav .active .nav-link {
  border-bottom: 3px solid #85c525;
}

.navbar-nav .nav-item .nav-link:hover {
  border-bottom: 3px solid #85c525;
}

.navbar-nav .nav-item .nav-btn {
  margin-top: 8px;
}

/* ----------------------------------------------------- */

/* Button
------------------------------------------------ */
.btn {
  border-radius: 4px;
  padding-left: 12px;
  padding-right: 12px;
  box-shadow: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-weight: 500;
}

.btn-sm {
  padding-top: 6px;
  padding-bottom: 6px;
  font-weight: 500;
  box-shadow: none;
}

.btn-success {
  background-color: #91cb3b;
  border-color: #91cb3b;
}

  .btn-success:hover {
    background-color: #85c525;
    border-color: #85c525;
  }

  .btn-success:active, .btn-success:focus {
    background-color: #78b121;
    border-color: #78b121;
  }

  .btn-success:not(:disabled):not(.disabled):active {
    border-color: #78b121;
    background-color: #78b121;
    color: #ffffff;
  }

.btn-primary {
  background-color: #33aaff;
  border-color: #33aaff;
}

  .btn-primary:hover {
    background-color: #0095ff;
    border-color: #0095ff;
  }

  .btn-primary:active, .btn-primary:focus {
    background-color: #0086e6;
    border-color: #0086e6;
  }

  .btn-primary:not(:disabled):not(.disabled):active {
    border-color: #0086e6;
    background-color: #0086e6;
    color: #ffffff;
  }

.btn-info {
  background-color: #33d4d4;
  border-color: #33d4d4;
}

  .btn-info:hover {
    background-color: #00c9c9;
    border-color: #00c9c9;
  }

  .btn-info:active, .btn-info:focus {
    background-color: #00b5b5;
    border-color: #00b5b5;
  }

  .btn-info:not(:disabled):not(.disabled):active {
    border-color: #00b5b5;
    background-color: #00b5b5;
    color: #ffffff;
  }

.btn-warning {
  background-color: #fee533;
  border-color: #fee533;
}

  .btn-warning:hover {
    background-color: #fede00;
    border-color: #fede00;
  }

  .btn-warning:active, .btn-warning:focus {
    background-color: #e5c800;
    border-color: #e5c800;
    color: #ffffff;
  }

  .btn-warning:not(:disabled):not(.disabled):active {
    border-color: #e5c800;
    background-color: #e5c800;
    color: #ffffff;
  }

.btn-danger {
  background-color: #fe5e87;
  border-color: #fe5e87;
}

  .btn-danger:hover {
    background-color: #fe4c7a;
    border-color: #fe4c7a;
  }

  .btn-danger:active, .btn-danger:focus {
    background-color: #e5446e;
    border-color: #e5446e;
  }

  .btn-danger:not(:disabled):not(.disabled):active {
    border-color: #e5446e;
    background-color: #e5446e;
    color: #ffffff;
  }

.btn-secondary {
  border-width: 2px;
  background-color: #ffffff;
  border-color: #e6e6e6;
  color: #062942;
}

  .btn-secondary:hover {
    background-color: #eeeeee;
    border-color: #e6e6e6;
    color: #062942;
  }

  .btn-secondary:active, .btn-secondary:focus {
    background-color: #eeeeee;
    border-color: #e6e6e6;
    color: #062942;
  }

  .btn-secondary:not(:disabled):not(.disabled):active {
    background-color: #eeeeee;
    border-color: #e6e6e6;
    color: #062942;
  }

/* Form Inputs
----------------------------------------------------------- */
.form-control {
  border: 2px solid #86c1f2;
  letter-spacing: 0.2px;
  transition: ease-in-out 0.2s;
}

  .form-control:hover {
    border: 2px solid #0d83e4;
  }

  .form-control:focus {
    border: 2px solid #0d83e4;
    box-shadow: 0px 0px 10px 0px rgba(110,181,239, 0.3);
  }

/* Border
-------------------------------------------------------------- */
.border-2x {
  border-width: 2px;
}

/* Footer Horizontal Links (Right Links)
--------------------------------------------------------- */
.inline-links {
  margin: 0;
  padding: 0;
  list-style: none;
}

  .inline-links > .links {
    display: inline;
  }

    .inline-links > .links > .link {
      font-size: 14px;
      font-weight: 500;
      padding-left: 1rem;
      text-decoration: none;
    }

    .inline-links > .links > .link-center {
      color: #00c292;
      padding-left: 1rem;
      padding-right: 1rem;
      text-decoration: none;
    }


body {
  font-family: 'Inter', sans-serif;
  color: #062942;
  font-size: 16px;
  line-height: 1.75;
}

.regular {
  font-weight: 400 !important;
}

.semi-bold {
  font-weight: 500 !important;
}

.bold {
  font-weight: 600 !important;
}

.no-td-space {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif;
}

h1 {
  font-size: 44px;
  line-height: 54px;
  font-weight: 600;
}

h2 {
  font-size: 38px;
  line-height: 46px;
  font-weight: 600;
}

h3 {
  font-size: 28px;
  line-height: 42px;
  font-weight: 600;
}

h4 {
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
}

h5 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

h6 {
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
}

.type-6 {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400px;
}

.type-7 {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.1px;
}

.type-7-2 {
  font-size: 12.8px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.1px;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

a {
  color: #258fe7;
}

.no-underline {
  text-decoration: none !important;
}

.text-grey {
  color: #858585;
}

.text-dark-grey {
  color: #6b6b6b;
}

.text-sub-blue {
  color: #4a8fda;
}

.text-blue {
  color: #0d83dd;
}
