<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />

<app-user-layout></app-user-layout>


<div class="container mt-4 mt-sm-4 mb-4">
  <div class="row">
    <div class="col-md-12">

      <h3 class="bold mb-0">LOAN HISTORY</h3>
      <hr />

      <div class="row my-5">
        <div class="col-md-12">

          <div class="row text-center text-muted">
            <div class="col-md-12">
              <h1><i class="far fa-file-alt"></i></h1>
              <h5 class="bold mb-0 mt-0">
                No Transaction Available
              </h5>
            </div>
          </div>

          <div class="row mt-2 text-center text-muted">
            <div class="col-md-12">
              <button class="btn btn-primary btn-sm">Request for Loan</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row mx-1">
        <div class="col-md-12">

          <div class="card border-success my-2">
            <div class="card-body">

              <div class="row">
                <div class="col-md-12">
                  <h4 class="bold mb-0 mt-0">
                    GIVEN
                    <span class="text-success"><i class="fa fa-arrow-right fa-fw"></i></span>
                    <span class="float-right">
                      <i class="fa fa-check-circle text-blue"></i>
                    </span>
                  </h4>
                  <p class="type-6 text-muted mb-0">wkgwj847438uredfnjkiu3y474ruwekfhwoiry9930</p>
                </div>
              </div>

              <hr />

              <div class="row">
                <div class="col-md-4">

                  <h5 class="bold">AMOUNT</h5>
                  <h4 class="text-blue mb-0 bold">10002.739726027396</h4>
                  <p class="text-muted type-7-2 semi-bold mb-0">@ 5% for 2 days</p>
                  <p class="text-dark type-6 mb-4 mb-md-0 semi-bold">(10000 + <span class="text-success">2.739726027395591</span>)</p>

                </div>

                <div class="col-md-4">

                  <h5 class="bold">ACCEPTED</h5>

                </div>

                <div class="col-md-4">
                  <div class="text-left text-md-center">
                    <p class="text-muted mb-0 type-6">txn#836nc7325fghsgf7565</p>
                    <p class="mb-0 type-6">Requested: <span class="text-primary">November 21, 2021</span></p>
                    <p class="mb-0 type-6">Approved: <span class="text-success">November 28, 2021</span></p>
                    <p class="mb-0 type-6">Cleared: <span class="text-success">December 7, 2021</span></p>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>

        <div class="col-md-12">

          <div class="card border-success my-2">
            <div class="card-body">

              <div class="row">
                <div class="col-md-12">
                  <h4 class="bold mb-0 mt-0">
                    GIVEN
                    <span class="text-success"><i class="fa fa-arrow-right fa-fw"></i></span>
                    <span class="float-right">
                      <i class="fa fa-hourglass-half text-muted"></i>
                    </span>
                  </h4>
                  <p class="type-6 text-muted mb-0">wkgwj847438uredfnjkiu3y474ruwekfhwoiry9930</p>
                </div>
              </div>

              <hr />

              <div class="row">
                <div class="col-md-4">

                  <h5 class="bold">AMOUNT</h5>
                  <h4 class="text-blue mb-0 bold">10002.739726027396</h4>
                  <p class="text-muted type-7-2 semi-bold mb-0">@ 5% for 2 days</p>
                  <p class="text-dark type-6 mb-4 mb-md-0 semi-bold">(10000 + <span class="text-success">2.739726027395591</span>)</p>

                </div>

                <div class="col-md-4">

                  <h5 class="bold">NEGOTIATED</h5>
                  <h4 class="text-blue mb-0 bold">10005.479452054795</h4>
                  <p class="text-muted type-7-2 semi-bold mb-0">@ 10% for 2 days</p>
                  <p class="text-dark type-6 mb-4 mb-md-0 semi-bold">(10000 + <span class="text-success">5.47945205479482</span>)</p>

                </div>

                <div class="col-md-4">
                  <div class="text-left text-md-center">
                    <p class="text-muted mb-0 type-6">txn#836nc7325fghsgf7565</p>
                    <p class="mb-0 type-6">Requested: <span class="text-primary">November 21, 2021</span></p>
                    <p class="mb-0 type-6">Approved: <span class="text-success">November 28, 2021</span></p>
                    <p class="mb-0 type-6">Pending: <span class="text-muted">December 8, 2021</span></p>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>

        <div class="col-md-12">

          <div class="card border-success my-2">
            <div class="card-body">

              <h4 class="bold mb-0 mt-0">
                GIVEN
                <span class="text-success"><i class="fa fa-arrow-right fa-fw"></i></span>
                <span class="float-right">
                  <i class="fa fa-exclamation-triangle text-warning"></i>
                </span>
              </h4>
              <p class="type-6 text-muted mb-0">wkgwj847438uredfnjkiu3y474ruwekfhwoiry9930</p>

              <hr />

              <div class="row">
                <div class="col-md-4">

                  <h5 class="bold">AMOUNT</h5>
                  <h4 class="text-blue mb-0 bold">10002.739726027396</h4>
                  <p class="text-muted type-7-2 semi-bold mb-0">@ 5% for 2 days</p>
                  <p class="text-dark type-6 mb-4 mb-md-0 semi-bold">(10000 + <span class="text-success">2.739726027395591</span>)</p>

                </div>

                <div class="col-md-4">

                  <h5 class="bold">NEGOTIATED</h5>
                  <h4 class="text-blue mb-0 bold">10005.479452054795</h4>
                  <p class="text-muted type-7-2 semi-bold mb-0">@ 10% for 2 days</p>
                  <p class="text-dark type-6 mb-4 mb-md-0 semi-bold">(10000 + <span class="text-success">5.47945205479482</span>)</p>

                </div>

                <div class="col-md-4">
                  <div class="text-left text-md-center">

                    <p class="text-muted mb-0 type-6">txn#836nc7325fghsgf7565</p>
                    <p class="mb-0 type-6">Requested: <span class="text-primary">November 21, 2021</span></p>
                    <p class="mb-0 type-6">Approved: <span class="text-success">November 28, 2021</span></p>
                    <p class="mb-0 type-6">Failed: <span class="text-danger">December 1, 2021</span></p>
                    <p class="mb-0 type-6">Cleared: <span class="text-success">December 2, 2021</span></p>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>

        <div class="col-md-12">

          <div class="card border-success my-2">
            <div class="card-body">

              <h4 class="bold mb-0 mt-0">
                REQUESTED
                <span class="text-blue"><i class="fa fa-arrow-right fa-fw"></i></span>
                <span class="float-right">
                  <i class="fa fa-check-circle text-success"></i>
                </span>
              </h4>
              <p class="type-6 text-muted mb-0">wkgwj847438uredfnjkiu3y474ruwekfhwoiry9930</p>

              <hr />

              <div class="row">
                <div class="col-md-4">

                  <h5 class="bold">AMOUNT</h5>
                  <h4 class="text-blue mb-0 bold">10002.739726027396</h4>
                  <p class="text-muted type-7-2 semi-bold mb-0">@ 5% for 2 days</p>
                  <p class="text-dark type-6 mb-4 mb-md-0 semi-bold">(10000 + <span class="text-success">2.739726027395591</span>)</p>

                </div>

                <div class="col-md-4">

                  <h5 class="bold">NEGOTIATED</h5>
                  <h4 class="text-blue mb-0 bold">10005.479452054795</h4>
                  <p class="text-muted type-7-2 semi-bold mb-0">@ 10% for 2 days</p>
                  <p class="text-dark type-6 mb-4 mb-md-0 semi-bold">(10000 + <span class="text-success">5.47945205479482</span>)</p>

                </div>

                <div class="col-md-4">
                  <div class="text-left text-md-center">

                    <p class="text-muted mb-0 type-6">txn#836nc7325fghsgf7565</p>
                    <p class="mb-0 type-6">Requested: <span class="text-primary">November 21, 2021</span></p>
                    <p class="mb-0 type-6">Approved: <span class="text-success">December 1, 2021</span></p>
                    <p class="mb-0 type-6">Cleared: <span class="text-success">December 3, 2021</span></p>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>

        <div class="col-md-12">

          <div class="card border-success my-2">
            <div class="card-body">

              <h4 class="bold mb-0 mt-0">
                GIVEN
                <span class="text-success"><i class="fa fa-arrow-right fa-fw"></i></span>
                <span class="float-right">
                  <i class="fa fa-times-circle text-danger"></i>
                </span>
              </h4>
              <p class="type-6 text-muted mb-0">wkgwj847438uredfnjkiu3y474ruwekfhwoiry9930</p>

              <hr />
              <div class="row">
                <div class="col-md-4">

                  <h5 class="bold">AMOUNT</h5>
                  <h4 class="text-blue mb-0 bold">10002.739726027396</h4>
                  <p class="text-muted type-7-2 semi-bold mb-0">@ 5% for 2 days</p>
                  <p class="text-dark type-6 mb-4 mb-md-0 semi-bold">(10000 + <span class="text-success">2.739726027395591</span>)</p>

                </div>

                <div class="col-md-4">

                  <h5 class="bold">NEGOTIATED</h5>
                  <h4 class="text-blue mb-0 bold">10005.479452054795</h4>
                  <p class="text-muted type-7-2 semi-bold mb-0">@ 10% for 2 days</p>
                  <p class="text-dark type-6 mb-4 mb-md-0 semi-bold">(10000 + <span class="text-success">5.47945205479482</span>)</p>

                </div>

                <div class="col-md-4">
                  <div class="text-left text-md-center">
                    <p class="text-muted mb-0 type-6">txn#836nc7325fghsgf7565</p>
                    <p class="mb-0 type-6">Requested: <span class="text-primary">November 21, 2021</span></p>
                    <p class="mb-0 type-6">Approved: <span class="text-success">November 12, 2021</span></p>
                    <p class="mb-0 type-6">Failed: <span class="text-danger">November 24, 2021</span></p>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>


<app-footer></app-footer>
