body {
  font-family: tahoma;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-team {
  padding: 30px 0 40px;
  margin-bottom: 30px;
  background-color: #f7f5ec;
  text-align: center;
  overflow: hidden;
  position: relative;
  max-height: 382px;
  perspective: 1000px;
}

  .our-team .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
  }

    .our-team .picture::before {
      content: "";
      width: 100%;
      height: 0;
      border-radius: 50%;
      background-color: #1369ce;
      position: absolute;
      bottom: 135%;
      right: 0;
      left: 0;
      opacity: 0.9;
      transform: scale(3);
      transition: all 0.3s linear 0s;
    }

  .our-team:hover .picture::before {
    height: 100%;
  }

  .our-team .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #1369ce;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .our-team .picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
  }

  .our-team:hover .picture img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
  }

  .our-team .title {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
  }

.flip-card-inner {
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.our-team.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: initial;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
  position: absolute;
  bottom: 12px;
  padding: 0 5px;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #e11515;
  margin-top: 30px;
}

  .our-team .social li {
    display: inline-block;
  }

    .our-team .social li a {
      display: block;
      padding: 10px;
      font-size: 17px;
      color: white;
      text-decoration: none;
    }

      .our-team .social li a:hover {
        color: #1369ce;
      }

.card-text {
  margin-bottom: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1rem;
}

  .card-text:first-child, .card-text span {
    font-weight: bold;
  }

.modal .modal-dialog .modal-content {
  min-height: 400px;
}

.dropdown {
  margin: 50px;
}

.select-list option:first-child {
  display: none;
}

.datepicker {
  font-size: 0.875em;
}

  .datepicker td, .datepicker th {
    width: 1.5em;
    height: 1.5em;
  }
