
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />


<app-common-layout *ngIf="commonLayout"></app-common-layout>

<app-user-layout *ngIf="userLayout"></app-user-layout>

<div class="container mt-4 mb-5">
  <div class="row">
    <div class="col-md-12">

      <div class="row">
        <div class="col-md-8"><h3>Stock Market</h3></div>
        <div class="col-md-4">
          <div class="form-group row px-3 mt-1">
            <h5 class="col-md-5 text-left text-sm-left text-md-right text-lg-right pl-0 mt-2">Select Stock:</h5>
            <select id="inputState" class="form-control custom-select col-md-7" [(ngModel)]="chosenstock" (ngModelChange)="getstockdata()">
              <option selected>AMZN</option>
              <option>OEDV</option>
              <option>AAPL</option>
              <option>BAC</option>
              <option>T</option>
              <option>GOOG</option>
              <option>MO</option>
              <option>DAL</option>
              <option>AA</option>
              <option>AXP</option>
              <option>DD</option>
              <option>BABA</option>
              <option>ABT</option>
              <option>UA</option>
              <option>AMAT</option>
              <option>AMGN</option>
              <option>AAL</option>
              <option>AIG</option>
              <option>ALL</option>
              <option>ADBE</option>
              <option>GOOGL</option>
              <option>ACN</option>
              <option>ABBV</option>
              <option>MT</option>
              <option>LLY</option>
              <option>AGN</option>
              <option>APA</option>
              <option>ADP</option>
              <option>APC</option>
              <option>AKAM</option>
              <option>NLY</option>
              <option>ABX</option>
              <option>ATVI</option>
              <option>ADSK</option>
              <option>ADM</option>
              <option>BMH.AX</option>
              <option>WBA</option>
              <option>ARNA</option>
              <option>LUV</option>
              <option>ACAD</option>
              <option>PANW</option>
              <option>AMD</option>
              <option>AET</option>
              <option>AEP</option>
              <option>ALXN</option>
              <option>CLMS</option>
              <option>AVGO</option>
              <option>EA</option>
              <option>DB</option>
              <option>RAI</option>
              <option>AEM</option>
              <option>APD</option>
              <option>AMBA</option>
              <option>NVS</option>
              <option>APOL</option>
              <option>ANF</option>
              <option>LULU</option>
              <option>RAD</option>
              <option>BRK.AX</option>
              <option>ARRY</option>
              <option>AGNC</option>
              <option>JBLU</option>
              <option>A</option>
              <option>ORLY</option>
              <option>FOLD</option>
              <option>AZO</option>
              <option>ATML</option>
              <option>AN</option>
              <option>AZN</option>
              <option>AES</option>
              <option>GAS</option>
              <option>BUD</option>
              <option>ARR</option>
              <option>BDX</option>
              <option>AKS</option>
              <option>AB</option>
              <option>ACOR</option>
              <option>CS</option>
              <option>AFL</option>
              <option>ADI</option>
              <option>AEGR</option>
              <option>ACIW</option>
              <option>AMP</option>
              <option>AVP</option>
              <option>AMTD</option>
              <option>AEO</option>
              <option>AWK</option>
              <option>NVO</option>
              <option>ALTR</option>
              <option>ALK</option>
              <option>PAA</option>
              <option>MTU.AX</option>
              <option>ARCC</option>
              <option>AAP</option>
              <option>NAT</option>
              <option>FNMA</option>
              <option>FAV</option>
              <option>AIV</option>
              <option>AGIO</option>
              <option>AEE</option>
              <option>UBS</option>
              <option>AVXL</option>
              <option>ARLP</option>
              <option>ANTM</option>
              <option>AGU</option>
              <option>AG</option>
              <option>AFSI</option>
              <option>ABC</option>
              <option>STO</option>
              <option>ATI</option>
              <option>ADT</option>
              <option>AVB</option>
              <option>ATW</option>
              <option>ALNY</option>
              <option>LH</option>
              <option>AVY</option>
              <option>AUY</option>
              <option>ASH</option>
              <option>ARMH</option>
              <option>ARIA</option>
              <option>ANR</option>
              <option>AINV</option>
              <option>ACXM</option>
              <option>ACHN</option>
              <option>ACET</option>
              <option>ABMD</option>
              <option>ABM</option>
              <option>VA</option>
              <option>LIFE</option>
              <option>ATO</option>
              <option>ARP</option>
              <option>AON</option>
              <option>ADXS</option>
              <option>ADC</option>
              <option>APU</option>
              <option>SAVE</option>
              <option>AV</option>
              <option>AKRX</option>
              <option>ADS</option>
              <option>ABAX</option>
              <option>AYI</option>
              <option>AWH</option>
              <option>ASML</option>
              <option>AMT</option>
              <option>ALDR</option>
              <option>ACM</option>
              <option>DWA</option>
              <option>ATRS</option>
              <option>ARW</option>
              <option>ARI</option>
              <option>ARG</option>
              <option>AR</option>
              <option>AMCC</option>
              <option>AMC</option>
              <option>AL</option>
              <option>AGEN</option>
              <option>AAN</option>
              <option>WTR</option>
              <option>FCAU</option>
              <option>BAH</option>
              <option>AXAS</option>
              <option>AVT</option>
              <option>ALB</option>
              <option>AIZ</option>
              <option>SAIC</option>
              <option>CAR</option>
              <option>AXLL</option>
              <option>AU</option>
              <option>ARO</option>
              <option>APH</option>
              <option>ANTH</option>
              <option>AMX</option>
              <option>AMDA</option>
              <option>AI</option>
              <option>ABCO</option>
              <option>WMC</option>
              <option>MPX.AX</option>
              <option>JKHY</option>
              <option>AVAV</option>
              <option>AMKR</option>
              <option>ALJ</option>
              <option>ACH</option>
              <option>GPH.AX</option>
              <option>ERC</option>
              <option>APPY</option>
              <option>ANAC</option>
              <option>AEIS</option>
              <option>Y</option>
              <option>MTGE</option>
              <option>CENX</option>
              <option>ASPS</option>
              <option>AMRN</option>
              <option>AMPE</option>
              <option>AMAG</option>
              <option>ALKS</option>
              <option>AFFX</option>
              <option>ADES</option>
              <option>ACAT</option>
              <option>AAON</option>
              <option>XLRN</option>
              <option>VRSK</option>
              <option>VJET</option>
              <option>OA</option>
              <option>ATLS</option>
              <option>APTS</option>
              <option>APO</option>
              <option>ALSK</option>
              <option>ALG</option>
              <option>AHC</option>
              <option>ACTG</option>
              <option>ACAS</option>
              <option>RBA</option>
              <option>MAA</option>
              <option>BAM</option>
              <option>ATHN</option>
              <option>AT</option>
              <option>ASX</option>
              <option>ARCO</option>
              <option>ANET</option>
              <option>ANCX</option>
              <option>AIR</option>
              <option>AF</option>
              <option>WAB</option>
              <option>RS</option>
              <option>PKG</option>
              <option>CSH</option>
              <option>AXDX</option>
              <option>AVHI</option>
              <option>AVA</option>
              <option>ATHX</option>
              <option>ARWR</option>
              <option>ANGI</option>
              <option>AMG</option>
              <option>ALSN</option>
              <option>ALGN</option>
              <option>AKBA</option>
              <option>AGO</option>
              <option>AEZS</option>
              <option>ACRX</option>
              <option>ROK</option>
              <option>GLPI</option>
              <option>DNI</option>
              <option>AZZ</option>
              <option>ATRC</option>
              <option>ARRS</option>
              <option>ARMK</option>
              <option>AOS</option>
              <option>ANFI</option>
              <option>AMID</option>
              <option>AMCX</option>
              <option>ALIM</option>
              <option>ALE</option>
              <option>AHT</option>
              <option>ACW</option>
              <option>ABB</option>
              <option>AALI.JK</option>
              <option>SPR</option>
              <option>SEE</option>
              <option>RDEN</option>
              <option>PAAS</option>
              <option>DLPH</option>
              <option>ADAC</option>
              <option>CBL</option>
              <option>BBVA</option>
              <option>AYR</option>
              <option>APOG</option>
              <option>ANDE</option>
              <option>AMSC</option>
              <option>AMRS</option>
              <option>AMED</option>
              <option>ALEX</option>
              <option>ALCO</option>
              <option>ADUS</option>
              <option>ACTA</option>
              <option>ACST</option>
              <option>AAWW</option>
              <option>WMS</option>
              <option>PAG</option>
              <option>MDRX</option>
              <option>KLIC</option>
              <option>ETH</option>
              <option>AZPN</option>
              <option>AXE</option>
              <option>ATNY</option>
              <option>APRI</option>
              <option>AMH</option>
              <option>AME</option>
              <option>AJG</option>
              <option>AIQ</option>
              <option>AHGP</option>
              <option>AGCO</option>
              <option>AERI</option>
              <option>ACRE</option>
              <option>ABEO</option>
              <option>WAL</option>
              <option>SYT</option>
              <option>SHLM</option>
              <option>NOG</option>
              <option>HTA</option>
              <option>GIII</option>
              <option>DAVE</option>
              <option>CVU</option>
              <option>BSI</option>
              <option>AWAY</option>
              <option>ATU</option>
              <option>ASTI</option>
              <option>AREX</option>
              <option>ARE</option>
              <option>ANSS</option>
              <option>AMNB</option>
              <option>AMBS</option>
              <option>ALR</option>
              <option>AIXG</option>
              <option>AIN</option>
              <option>AHL</option>
              <option>AGX</option>
              <option>AEG</option>
              <option>ADTN</option>
              <option>ADMS</option>
              <option>ACLS</option>
              <option>ABG</option>
              <option>ZX</option>
              <option>NXJ</option>
              <option>KS</option>
              <option>HOLI</option>
              <option>GPI</option>
              <option>ENI</option>
              <option>BEAV</option>
              <option>AXTA</option>
              <option>AWR</option>
              <option>AWI</option>
              <option>AVEO</option>
              <option>AUO</option>
              <option>ATHM</option>
              <option>ATAX</option>
              <option>ASM</option>
              <option>AROC</option>
              <option>ANH</option>
              <option>ALX</option>
              <option>AHS</option>
              <option>AGI</option>
              <option>AER</option>
              <option>AE</option>
              <option>RHHBY</option>
              <option>PETX</option>
              <option>ODC</option>
              <option>NAO</option>
              <option>KAR</option>
              <option>HUSA</option>
              <option>HIVE</option>
              <option>FMS</option>
              <option>DOX</option>
              <option>CXW</option>
              <option>AZUR</option>
              <option>AXS</option>
              <option>AXL</option>
              <option>AWX</option>
              <option>AVID</option>
              <option>ASNA</option>
              <option>ASGN</option>
              <option>ARDX</option>
              <option>ARAY</option>
              <option>AQXP</option>
              <option>APT</option>
              <option>APDN</option>
              <option>AMBC</option>
              <option>ALGT</option>
              <option>ALDW</option>
              <option>AIT</option>
              <option>AIRM</option>
              <option>AIMC</option>
              <option>AEL</option>
              <option>AEHR</option>
              <option>ADHD</option>
              <option>ACUR</option>
              <option>ACHC</option>
              <option>ACFC</option>
              <option>ACCO</option>
              <option>ABY</option>
              <option>TA</option>
              <option>RPAI</option>
              <option>MANH</option>
              <option>LAMR</option>
              <option>KYN</option>
              <option>AXN</option>
              <option>ATRO</option>
              <option>ATNI</option>
              <option>ARCW</option>
              <option>APEI</option>
              <option>AP</option>
              <option>ANIK</option>
              <option>ANGO</option>
              <option>AMTG</option>
              <option>AMSG</option>
              <option>AMOT</option>
              <option>AM</option>
              <option>ALV</option>
              <option>ALOG</option>
              <option>AKR</option>
              <option>AEGN</option>
              <option>ADS.DE</option>
              <option>ZLTQ</option>
              <option>WRLD</option>
              <option>UHAL</option>
              <option>UAMY</option>
              <option>SAH</option>
              <option>RJET</option>
              <option>NAII</option>
              <option>AQNM</option>
              <option>CAS</option>
              <option>CACC</option>
              <option>ATSG</option>
              <option>ASEI</option>
              <option>ASB</option>
              <option>ARTX</option>
              <option>AROW</option>
              <option>ARCB</option>
              <option>AMRK</option>
              <option>ALRM</option>
              <option>AHP</option>
              <option>AGRX</option>
              <option>AFAM</option>
              <option>ADK</option>
              <option>ACSF</option>
              <option>ABTL</option>
              <option>ABGB</option>
              <option>ABEV</option>
              <option>ABCD</option>
              <option>AAOI</option>
              <option>USAP</option>
              <option>STFC</option>
              <option>STAY</option>
              <option>SEED</option>
              <option>RGA</option>
              <option>IDSA</option>
              <option>HART</option>
              <option>CH</option>
              <option>CEA</option>
              <option>BREW</option>
              <option>AXR</option>
              <option>AVG</option>
              <option>AVD</option>
              <option>AUDC</option>
              <option>ATRI</option>
              <option>ATOS</option>
              <option>ARC</option>
              <option>APIC</option>
              <option>AOSL</option>
              <option>AOI</option>
              <option>AMWD</option>
              <option>ALXA</option>
              <option>ALLY</option>
              <option>AIRI</option>
              <option>AFOP</option>
              <option>ACGL</option>
              <option>ACFN</option>
              <option>ABR</option>
              <option>ABCB</option>
              <option>SAMG</option>
              <option>REXI</option>
              <option>RAIL</option>
              <option>NSAM</option>
              <option>MITT</option>
              <option>LCM</option>
              <option>HASI</option>
              <option>GOL</option>
              <option>GIL</option>
              <option>EAD</option>
              <option>ATTO</option>
              <option>ATR</option>
              <option>ATNM</option>
              <option>ASTC</option>
              <option>ASR</option>
              <option>ASC</option>
              <option>ARTNA</option>
              <option>ARGS</option>
              <option>AOD</option>
              <option>AGNCP</option>
              <option>ADRO</option>
              <option>ACNB</option>
              <option>AAV</option>
              <option>AAT</option>
              <option>ZNH</option>
              <option>UAM</option>
              <option>NTT</option>
              <option>NFJ</option>
              <option>LNT</option>
              <option>KALU</option>
              <option>HOMB</option>
              <option>HIX</option>
              <option>FAF</option>
              <option>FAC</option>
              <option>EGT</option>
              <option>CAAS</option>
              <option>BGR</option>
              <option>BETR</option>
              <option>AUPH</option>
              <option>ATV</option>
              <option>ATLC</option>
              <option>AST</option>
              <option>ARIS</option>
              <option>ARCI</option>
              <option>APLE</option>
              <option>ANY</option>
              <option>ANIP</option>
              <option>AMSWA</option>
              <option>AMSF</option>
              <option>ALLT</option>
              <option>AKTX</option>
              <option>AGYS</option>
              <option>AGTC</option>
              <option>AFG</option>
              <option>ADDYY</option>
              <option>AAVL</option>
              <option>WAIR</option>
              <option>RESI</option>
              <option>LND</option>
              <option>LFL</option>
              <option>HRT</option>
              <option>ESD</option>
              <option>ECF</option>
              <option>DGLY</option>
              <option>CIK</option>
              <option>CII</option>
              <option>CHOP</option>
              <option>CCD</option>
              <option>CADC</option>
              <option>AYA</option>
              <option>AWRE</option>
              <option>AVV</option>
              <option>AVNW</option>
              <option>ATRM</option>
              <option>APPF</option>
              <option>AFFMQ</option>
              <option>AMRI</option>
              <option>AMCN</option>
              <option>AMCF</option>
              <option>ALTI</option>
              <option>ALLE</option>
              <option>AJRD</option>
              <option>AHH</option>
              <option>AGM</option>
              <option>AGII</option>
              <option>AFCB</option>
              <option>AEPI</option>
              <option>ADMA</option>
              <option>ABCW</option>
              <option>AAME</option>
              <option>TEO</option>
              <option>SRAQU</option>
              <option>SINO</option>
              <option>OMAB</option>
              <option>NOA</option>
              <option>NCZ</option>
              <option>MTT</option>
              <option>MHG</option>
              <option>JAGX</option>
              <option>ISL</option>
              <option>HIO</option>
              <option>GRR</option>
              <option>FAX</option>
              <option>ENL</option>
              <option>DIT</option>
              <option>CRMT</option>
              <option>CRESY</option>
              <option>CGA</option>
              <option>CAF</option>
              <option>ATRA</option>
              <option>ATEN</option>
              <option>ATEC</option>
              <option>ARLZ</option>
              <option>ARII</option>
              <option>ARDM</option>
              <option>ARDC</option>
              <option>ARCX</option>
              <option>APPS</option>
              <option>APHB</option>
              <option>ANW</option>
              <option>ANAT</option>
              <option>ANAD</option>
              <option>AKAO</option>
              <option>AGHI</option>
              <option>AETI</option>
              <option>AEB</option>
              <option>ADPT</option>
              <option>ADMP</option>
              <option>ACRS</option>
              <option>ACC</option>
              <option>ABEOW</option>
              <option>ABDC</option>
              <option>REX</option>
              <option>PAC</option>
              <option>NNA</option>
              <option>NAUH</option>
              <option>IGD</option>
              <option>HMNY</option>
              <option>GABC</option>
              <option>ERH</option>
              <option>EPAX</option>
              <option>CACQ</option>
              <option>BTI</option>
              <option>AXPW</option>
              <option>AWF</option>
              <option>AVX</option>
              <option>ASUR</option>
              <option>ASMB</option>
              <option>ASFI</option>
              <option>ASCMA</option>
              <option>ASCC</option>
              <option>ARES</option>
              <option>ARCP</option>
              <option>AQMS</option>
              <option>ANCB</option>
              <option>AMRC</option>
              <option>AMOV</option>
              <option>AKG</option>
              <option>AFW</option>
              <option>ACY</option>
              <option>ACPW</option>
              <option>ABIO</option>
              <option>AAC</option>
              <option>XKE</option>
              <option>VLRS</option>
              <option>PRA.AX</option>
              <option>TEAM</option>
              <option>SORL</option>
              <option>NEN</option>
              <option>NEA</option>
              <option>LMIA</option>
              <option>JEQ</option>
              <option>IGA</option>
              <option>IDE</option>
              <option>GBAB</option>
              <option>FWP</option>
              <option>EVTC</option>
              <option>CMGE</option>
              <option>CHY</option>
              <option>CADTU</option>
              <option>BTZ</option>
              <option>BAYN.DE</option>
              <option>AXU</option>
              <option>AWP</option>
              <option>ATE</option>
              <option>ATAI</option>
              <option>ARQL</option>
              <option>ARKR</option>
              <option>APP</option>
              <option>APLP</option>
              <option>APF</option>
              <option>APB</option>
              <option>AMRB</option>
              <option>AMBR</option>
              <option>ALU.PA</option>
              <option>ALQA</option>
              <option>ALOT</option>
              <option>AKER</option>
              <option>AIB</option>
              <option>AHPI</option>
              <option>AGRO</option>
              <option>AFST</option>
              <option>ADX</option>
              <option>ADGE</option>
              <option>ADAT</option>
              <option>ADAP</option>
              <option>ACU</option>
              <option>ACTS</option>
              <option>WJA.TO</option>
              <option>VLKAY</option>
              <option>TKC</option>
              <option>AQQSQ</option>
              <option>SCOK</option>
              <option>RZA</option>
              <option>PWX</option>
              <option>PRTS</option>
              <option>POPE</option>
              <option>PEO</option>
              <option>OASM</option>
              <option>NCV</option>
              <option>NBB</option>
              <option>NADL</option>
              <option>MHY</option>
              <option>MHF</option>
              <option>IOTS</option>
              <option>HYB</option>
              <option>GAM</option>
              <option>EOD</option>
              <option>EAGL</option>
              <option>DLA</option>
              <option>CBA</option>
              <option>BRKS</option>
              <option>AVK</option>
              <option>AUMAU</option>
              <option>AUBN</option>
              <option>ASYS</option>
              <option>ASA</option>
              <option>AMPH</option>
              <option>AMIC</option>
              <option>AMFW</option>
              <option>ALJJ</option>
              <option>ALDX</option>
              <option>AGR</option>
              <option>AGD</option>
              <option>AFC</option>
              <option>AFA</option>
              <option>AEY</option>
              <option>AEK</option>
              <option>ADVS</option>
              <option>ABUS</option>
              <option>ABLX.BR</option>
              <option>AAPC</option>
              <option>TANN</option>
              <option>SHOS</option>
              <option>RYAM</option>
              <option>RJETQ</option>
              <option>PAHC</option>
              <option>NAC</option>
              <option>MZA</option>
              <option>MGR</option>
              <option>HYI</option>
              <option>GNOW</option>
              <option>FWRD</option>
              <option>FEN</option>
              <option>FEI</option>
              <option>DAI.DE</option>
              <option>CHLN</option>
              <option>CALI</option>
              <option>AXON</option>
              <option>AXGN</option>
              <option>AVH</option>
              <option>AVAL</option>
              <option>AUMN</option>
              <option>ATL</option>
              <option>ASRVP</option>
              <option>ASRV</option>
              <option>ASBI</option>
              <option>ASBB</option>
              <option>ARTW</option>
              <option>APWC</option>
              <option>APAM</option>
              <option>AMS</option>
              <option>AMFC</option>
              <option>ALN</option>
              <option>AGFS</option>
              <option>AFGE</option>
              <option>AEMD</option>
              <option>ADNC</option>
              <option>ACV</option>
              <option>ACG</option>
              <option>ACBI</option>
              <option>ABTX</option>
              <option>AAMC</option>
              <option>UNAM</option>
              <option>TVE</option>
              <option>TVC</option>
              <option>SGF</option>
              <option>SCAI</option>
              <option>HVCW</option>
              <option>OMAM</option>
              <option>NSA</option>
              <option>NKG</option>
              <option>NAD</option>
              <option>MTGEP</option>
              <option>MPAA</option>
              <option>LDP</option>
              <option>JRI</option>
              <option>JAX</option>
              <option>IF</option>
              <option>GGM</option>
              <option>ETF</option>
              <option>EARS</option>
              <option>EADSY</option>
              <option>DMO</option>
              <option>DEX</option>
              <option>AZSEY</option>
              <option>AXX</option>
              <option>AXTI</option>
              <option>AVXS</option>
              <option>AUQ</option>
              <option>ATTU</option>
              <option>ATLO</option>
              <option>ASTE</option>
              <option>ASND</option>
              <option>ARL</option>
              <option>APTO</option>
              <option>AMTX</option>
              <option>AKP</option>
              <option>AI.PA</option>
              <option>AGIIL</option>
              <option>AFMD</option>
              <option>AFFY</option>
              <option>AFB</option>
              <option>AEUA</option>
              <option>ADEP</option>
              <option>ABIL</option>
              <option>ABAC</option>
              <option>WIW</option>
              <option>WGA</option>
              <option>TRAN.BA</option>
              <option>ICG.AX</option>
              <option>SBI</option>
              <option>RKDA</option>
              <option>PSF</option>
              <option>NAZ</option>
              <option>MNP</option>
              <option>MMU</option>
              <option>DLS.AX</option>
              <option>JTA</option>
              <option>IPCC</option>
              <option>IAF</option>
              <option>IAE</option>
              <option>GCP</option>
              <option>FTAI</option>
              <option>FNTCU</option>
              <option>FGB</option>
              <option>FCO</option>
              <option>EMD</option>
              <option>EAA</option>
              <option>DDAIF</option>
              <option>QED.L</option>
              <option>CHI</option>
              <option>CEE</option>
              <option>CADTW</option>
              <option>BUI</option>
              <option>AXSM</option>
              <option>ANOS</option>
              <option>ANCI</option>
              <option>ALTV</option>
              <option>ALAN</option>
              <option>AKZOY</option>
              <option>AKO-A</option>
              <option>AJX</option>
              <option>AGNCB</option>
              <option>AFSD</option>
              <option>AFH</option>
              <option>AEGG</option>
              <option>ACP</option>
              <option>ABRN</option>
              <option>CLA.AX</option>
              <option>WRN</option>
              <option>USA</option>
              <option>OXXCB.AX</option>
              <option>CBS.AX</option>
              <option>PHX</option>
              <option>NZH</option>
              <option>KYE</option>
              <option>KLREU</option>
              <option>JCE</option>
              <option>JBR</option>
              <option>JBK</option>
              <option>IGZ</option>
              <option>IGI</option>
              <option>HOPS</option>
              <option>HDRA</option>
              <option>GS.TO</option>
              <option>GRO</option>
              <option>GPACU</option>
              <option>GER</option>
              <option>ELEC</option>
              <option>EGIF</option>
              <option>DYSL</option>
              <option>CNLM</option>
              <option>CLAC</option>
              <option>CACG</option>
              <option>BTA</option>
              <option>BRSS</option>
              <option>BLVDW</option>
              <option>BLVD</option>
              <option>AYA.TO</option>
              <option>AVLY</option>
              <option>AUMAW</option>
              <option>ATP.TO</option>
              <option>ASMI</option>
              <option>ASKH</option>
              <option>ARUN</option>
              <option>AREN</option>
              <option>ARCPP</option>
              <option>AMSGP</option>
              <option>AMRH</option>
              <option>ALTX</option>
              <option>ALA.TO</option>
              <option>AKG.TO</option>
              <option>AIY</option>
              <option>AIR.PA</option>
              <option>AIMT</option>
              <option>AIF</option>
              <option>AERG</option>
              <option>AED</option>
              <option>ADXSW</option>
              <option>ACLZ</option>
              <option>ABX.TO</option>
              <option>ABAT</option>
              <option>AAAP</option>
              <option>6599.KL</option>
              <option>WIA</option>
              <option>WEA</option>
              <option>VKI</option>
              <option>VELCP.AX</option>
              <option>TRTLW</option>
              <option>TRTL</option>
              <option>SKAS</option>
              <option>SCD</option>
              <option>RUK</option>
              <option>ROIQ</option>
              <option>QPACW</option>
              <option>QPACU</option>
              <option>AMLH</option>
              <option>PZE</option>
              <option>PAI</option>
              <option>PAA.TO</option>
              <option>ORG.AX</option>
              <option>NXZ</option>
              <option>NORD</option>
              <option>NMA</option>
              <option>NKX</option>
              <option>NBRV</option>
              <option>MOG-A</option>
              <option>MAV</option>
              <option>LDF</option>
              <option>JSYNU</option>
              <option>JPI</option>
              <option>JBN</option>
              <option>HDRAW</option>
              <option>HDRAU</option>
              <option>HCACW</option>
              <option>GTATQ</option>
              <option>GPIAW</option>
              <option>GGZ</option>
              <option>GGACW</option>
              <option>GCH</option>
              <option>GAI</option>
              <option>FNTC</option>
              <option>FBGX</option>
              <option>EXD</option>
              <option>EHI</option>
              <option>EAE</option>
              <option>DRA</option>
              <option>DFP</option>
              <option>DDF</option>
              <option>CVB</option>
              <option>CS.PA</option>
              <option>CNLMR</option>
              <option>CLAD</option>
              <option>BLVDU</option>
              <option>BHAC</option>
              <option>BGY</option>
              <option>BBD-A.TO</option>
              <option>BAM-A.TO</option>
              <option>AVNU</option>
              <option>AVL</option>
              <option>AVL.TO</option>
              <option>ATH.TO</option>
              <option>ASG</option>
              <option>ARU</option>
              <option>AQA.TO</option>
              <option>ANZ.AX</option>
              <option>ANTX</option>
              <option>ANTM.JK</option>
              <option>ANSU</option>
              <option>ANRZQ</option>
              <option>ANDAU</option>
              <option>ALYI</option>
              <option>ALO.PA</option>
              <option>ALLM</option>
              <option>ALLB</option>
              <option>AIRT</option>
              <option>AIC</option>
              <option>AFFM</option>
              <option>ADN.L</option>
              <option>AC</option>
              <option>AC.PA</option>
              <option>ABI.BR</option>
              <option>ZERO</option>
              <option>XRF.AX</option>
              <option>WOW.AX</option>
              <option>WDI.DE</option>
              <option>WAT.AX</option>
              <option>VOLVY</option>
              <option>TRTLU</option>
              <option>TPZ</option>
              <option>ABEC</option>
              <option>SIEGY</option>
              <option>SDCJF</option>
              <option>ROIQW</option>
              <option>ROIQU</option>
              <option>QPAC</option>
              <option>QBE.AX</option>
              <option>ARN.V</option>
              <option>PAACR</option>
              <option>ORT.TO</option>
              <option>NZF</option>
              <option>NVX</option>
              <option>NVG</option>
              <option>NUW</option>
              <option>NIE</option>
              <option>MYHI</option>
              <option>MT.AS</option>
              <option>MHNB</option>
              <option>MDG.AX</option>
              <option>LAQ</option>
              <option>KED</option>
              <option>IAG.TO</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row mt-1">
        <div class="col-md-10">
          <!--
            <ejs-chart [primaryXAxis]='xAxis'>
              <e-series-collection>
                <e-series type='Hilo' name='Apple Inc' [dataSource]='data_refined' xName='date' high='high' low='low'></e-series>
              </e-series-collection>
            </ejs-chart>
          -->
          <div class="row">
            <div class="col-md-8">
              <h5>
                Name:
                <span class="text-blue">{{companyData.Name}}</span>
                <a href="javascript:;" data-toggle="modal" data-target="#descriptionWindow" class="text-dark-grey">
                  <i class='fa fa-info-circle fa-fw'></i>
                </a>
              </h5>
            </div>
            <div class="col-md-4">
              <h5 class="text-sm-left text-md-right text-lg-right">Country: <span class="text-blue">{{companyData.Country}}</span></h5>
            </div>
          </div>
          <igx-financial-chart [dataSource]="data_refined" class="stock-market-chart"></igx-financial-chart>
        </div>
        <div class="col-md-2">
          <div class="row text-center mt-4">

            <div class="col-md-12 col-sm-3 col-6 mt-2">
              <div class="card border-2x px-2 py-2">
                <h6 class="no-td-space">Symbol</h6>
                <h4 class="text-blue no-td-space">{{companyData.Symbol}}</h4>
              </div>
            </div>

            <div class="col-md-12 col-sm-3 col-6 mt-2">
              <div class="card border-2x px-2 py-2">
                <h6 class="no-td-space">Asset Type</h6>
                <p class="text-blue no-td-space semi-bold">{{companyData.AssetType}}</p>
              </div>
            </div>

            <div class="col-md-12 col-sm-3 col-6 mt-2">
              <div class="card border-2x px-2 py-2">
                <h6 class="no-td-space">Currency</h6>
                <h4 class="text-blue no-td-space">{{companyData.Currency}}</h4>
              </div>
            </div>

            <div class="col-md-12 col-sm-3 col-6 mt-2">
              <div class="card border-2x px-2 py-2">
                <h6 class="no-td-space">Exchange</h6>
                <h4 class="text-blue no-td-space">{{companyData.Exchange}}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-4">

        <div class="col-md-3 col-sm-3 col-6 mt-2">
          <div class="card border-2x px-2 py-2">
            <h6 class="no-td-space">CIK</h6>
            <h4 class="text-blue no-td-space">{{companyData.CIK}}</h4>
          </div>
        </div>

        <div class="col-md-3 col-sm-3 col-6 mt-2">
          <div class="card border-2x px-2 py-2">
            <h6 class="no-td-space">Sector</h6>
            <h4 class="text-blue no-td-space semi-bold">{{companyData.Sector}}</h4>
          </div>
        </div>

        <div class="col-md-3 col-sm-3 col-6 mt-2">
          <div class="card border-2x px-2 py-2">
            <h6 class="no-td-space">Industry</h6>
            <h4 class="text-blue no-td-space semi-bold">{{companyData.Industry}}</h4>
          </div>
        </div>

        <div class="col-md-3 col-sm-3 col-6 mt-2">
          <div class="card border-2x px-2 py-2">
            <h6 class="no-td-space">Full Time Employees</h6>
            <h4 class="text-blue no-td-space semi-bold">{{companyData.FullTimeEmployees}}</h4>
          </div>
        </div>

      </div>

      <div class="row mt-2">

        <div class="col-md-3 col-sm-3 col-6 mt-2">
          <div class="card border-2x px-2 py-2">
            <h6 class="no-td-space">Fiscal Year End</h6>
            <h4 class="text-blue no-td-space">{{companyData.FiscalYearEnd}}</h4>
          </div>
        </div>

        <div class="col-md-3 col-sm-3 col-6 mt-2">
          <div class="card border-2x px-2 py-2">
            <h6 class="no-td-space">Latest Quarter</h6>
            <h4 class="text-blue no-td-space semi-bold">{{companyData.LatestQuarter}}</h4>
          </div>
        </div>

        <div class="col-md-3 col-sm-3 col-6 mt-2">
          <div class="card border-2x px-2 py-2">
            <h6 class="no-td-space">Market Capitalization</h6>
            <h4 class="text-blue no-td-space semi-bold">{{companyData.MarketCapitalization}}</h4>
          </div>
        </div>

        <div class="col-md-3 col-sm-3 col-6 mt-2">
          <div class="card border-2x px-2 py-2">
            <h6 class="no-td-space">EBITDA</h6>
            <h4 class="text-blue no-td-space semi-bold">{{companyData.EBITDA}}</h4>
          </div>
        </div>

      </div>

      <div class="row mt-2">

        <div class="col-md-3 col-sm-3 col-6 mt-2">
          <div class="card border-2x px-2 py-2">
            <h6 class="no-td-space">PE Ratio</h6>
            <h4 class="text-blue no-td-space">{{companyData.PERatio}}</h4>
          </div>
        </div>

        <div class="col-md-3 col-sm-3 col-6 mt-2">
          <div class="card border-2x px-2 py-2">
            <h6 class="no-td-space">PEG Ratio</h6>
            <h4 class="text-blue no-td-space semi-bold">{{companyData.PEGRatio}}</h4>
          </div>
        </div>

        <div class="col-md-3 col-sm-3 col-6 mt-2">
          <div class="card border-2x px-2 py-2">
            <h6 class="no-td-space">Book Value</h6>
            <h4 class="text-blue no-td-space semi-bold">{{companyData.BookValue}}</h4>
          </div>
        </div>

        <div class="col-md-3 col-sm-3 col-6 mt-2">
          <div class="card border-2x px-2 py-2">
            <h6 class="no-td-space">Dividend Per Share</h6>
            <h4 class="text-blue no-td-space semi-bold">{{companyData.DividendPerShare}}</h4>
          </div>
        </div>

      </div>

      <div class="row mt-2">

        <div class="col-md-3 col-sm-3 col-6 mt-2">
          <div class="card border-2x px-2 py-2">
            <h6 class="no-td-space">Dividend Yield</h6>
            <h4 class="text-blue no-td-space">{{companyData.DividendYield}}</h4>
          </div>
        </div>

        <div class="col-md-3 col-sm-3 col-6 mt-2">
          <div class="card border-2x px-2 py-2">
            <h6 class="no-td-space">EPS</h6>
            <h4 class="text-blue no-td-space semi-bold">{{companyData.EPS}}</h4>
          </div>
        </div>

        <div class="col-md-3 col-sm-3 col-6 mt-2">
          <div class="card border-2x px-2 py-2">
            <h6 class="no-td-space">Revenue Per Share TTM</h6>
            <h4 class="text-blue no-td-space semi-bold">{{companyData.RevenuePerShareTTM}}</h4>
          </div>
        </div>

        <div class="col-md-3 col-sm-3 col-6 mt-2">
          <div class="card border-2x px-2 py-2">
            <h6 class="no-td-space">Profit Margin</h6>
            <h4 class="text-blue no-td-space semi-bold">{{companyData.ProfitMargin}}</h4>
          </div>
        </div>

      </div>

      <div class="row mt-2">

        <div class="col-md-3 col-sm-3 col-6 mt-2">
          <div class="card border-2x px-2 py-2">
            <h6 class="no-td-space">Operating Margin TTM</h6>
            <h4 class="text-blue no-td-space">{{companyData.OperatingMarginTTM}}</h4>
          </div>
        </div>

        <div class="col-md-3 col-sm-3 col-6 mt-2">
          <div class="card border-2x px-2 py-2">
            <h6 class="no-td-space">Return On Assets TTM</h6>
            <h4 class="text-blue no-td-space semi-bold">{{companyData.ReturnOnAssetsTTM}}</h4>
          </div>
        </div>

        <div class="col-md-3 col-sm-3 col-6 mt-2">
          <div class="card border-2x px-2 py-2">
            <h6 class="no-td-space">Return On Equity TTM</h6>
            <h4 class="text-blue no-td-space semi-bold">{{companyData.ReturnOnEquityTTM}}</h4>
          </div>
        </div>

        <div class="col-md-3 col-sm-3 col-6 mt-2">
          <div class="card border-2x px-2 py-2">
            <h6 class="no-td-space">Revenue TTM</h6>
            <h4 class="text-blue no-td-space semi-bold">{{companyData.RevenueTTM}}</h4>
          </div>
        </div>

      </div>

      <div class="row mt-2">

        <div class="col-md-3 col-sm-3 col-6 mt-2">
          <div class="card border-2x px-2 py-2">
            <h6 class="no-td-space">Gross Profit TTM</h6>
            <h4 class="text-blue no-td-space">{{companyData.GrossProfitTTM}}</h4>
          </div>
        </div>

        <div class="col-md-3 col-sm-3 col-6 mt-2">
          <div class="card border-2x px-2 py-2">
            <h6 class="no-td-space">Diluted EPS TTM</h6>
            <h4 class="text-blue no-td-space semi-bold">{{companyData.DilutedEPSTTM}}</h4>
          </div>
        </div>

        <div class="col-md-3 col-sm-3 col-6 mt-2">
          <div class="card border-2x px-2 py-2">
            <h6 class="no-td-space">Quaterly Earnings Growth YOY</h6>
            <h4 class="text-blue no-td-space semi-bold">{{companyData.QuarterlyEarningsGrowthYOY}}</h4>
          </div>
        </div>

        <div class="col-md-3 col-sm-3 col-6 mt-2">
          <div class="card border-2x px-2 py-2">
            <h6 class="no-td-space">Quaterly Revenue Growth YOY</h6>
            <h4 class="text-blue no-td-space semi-bold">{{companyData.QuarterlyRevenueGrowthYOY}}</h4>
          </div>
        </div>

      </div>

      <div class="row mt-2">

        <div class="col-md-3 col-sm-3 col-6 mt-2">
          <div class="card border-2x px-2 py-2">
            <h6 class="no-td-space">Analyst Target Price</h6>
            <h4 class="text-blue no-td-space">{{companyData.AnalystTargetPrice}}</h4>
          </div>
        </div>

        <div class="col-md-3 col-sm-3 col-6 mt-2">
          <div class="card border-2x px-2 py-2">
            <h6 class="no-td-space">Trailing PE</h6>
            <h4 class="text-blue no-td-space semi-bold">{{companyData.TrailingPE}}</h4>
          </div>
        </div>

        <div class="col-md-3 col-sm-3 col-6 mt-2">
          <div class="card border-2x px-2 py-2">
            <h6 class="no-td-space">Forward PE</h6>
            <h4 class="text-blue no-td-space semi-bold">{{companyData.ForwardPE}}</h4>
          </div>
        </div>

        <div class="col-md-3 col-sm-3 col-6 mt-2">
          <div class="card border-2x px-2 py-2">
            <h6 class="no-td-space">Price To Sales Ratio TTM</h6>
            <h4 class="text-blue no-td-space semi-bold">{{companyData.PriceToSalesRatioTTM}}</h4>
          </div>
        </div>

      </div>

      <div class="row mt-2">

        <div class="col-md-3 col-sm-3 col-6 mt-2">
          <div class="card border-2x px-2 py-2">
            <h6 class="no-td-space">Price To Book Ratio</h6>
            <h4 class="text-blue no-td-space">{{companyData.PriceToBookRatio}}</h4>
          </div>
        </div>

        <div class="col-md-3 col-sm-3 col-6 mt-2">
          <div class="card border-2x px-2 py-2">
            <h6 class="no-td-space">EV To Revenue</h6>
            <h4 class="text-blue no-td-space semi-bold">{{companyData.EVToRevenue}}</h4>
          </div>
        </div>

        <div class="col-md-3 col-sm-3 col-6 mt-2">
          <div class="card border-2x px-2 py-2">
            <h6 class="no-td-space">EV To EBITDA</h6>
            <h4 class="text-blue no-td-space semi-bold">{{companyData.EVToEBITDA}}</h4>
          </div>
        </div>

        <div class="col-md-3 col-sm-3 col-6 mt-2">
          <div class="card border-2x px-2 py-2">
            <h6 class="no-td-space">Beta</h6>
            <h4 class="text-blue no-td-space semi-bold">{{companyData.Beta}}</h4>
          </div>
        </div>

      </div>

      <!--<div class="row mt-2">
        <div class="col-md-3 col-sm-3 col-6 mt-2">
          <div class="card border-2x px-2 py-2">
            <h6 class="no-td-space">52 Week High</h6>
            <h4 class="text-blue no-td-space">{{companyData.52WeekHigh}}</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-6 mt-2">
          <div class="card border-2x px-2 py-2">
            <h6 class="no-td-space">52 Week Low</h6>
            <h4 class="text-blue no-td-space semi-bold">{{companyData.52WeekLow}}</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-6 mt-2">
          <div class="card border-2x px-2 py-2">
            <h6 class="no-td-space">50 Day Moving Average</h6>
            <h4 class="text-blue no-td-space semi-bold">{{companyData.50DayMovingAverage}}</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-6 mt-2">
          <div class="card border-2x px-2 py-2">
            <h6 class="no-td-space">200 Day Moving Average</h6>
            <h4 class="text-blue no-td-space semi-bold">{{companyData.200DayMovingAverage}}</h4>
          </div>
        </div>
      </div>-->

      <div class="row mt-2">

        <div class="col-md-3 col-sm-3 col-6 mt-2">
          <div class="card border-2x px-2 py-2">
            <h6 class="no-td-space">Shares Outstanding</h6>
            <h4 class="text-blue no-td-space">{{companyData.SharesOutstanding}}</h4>
          </div>
        </div>

        <div class="col-md-3 col-sm-3 col-6 mt-2">
          <div class="card border-2x px-2 py-2">
            <h6 class="no-td-space">Shares Float</h6>
            <h4 class="text-blue no-td-space semi-bold">{{companyData.SharesFloat}}</h4>
          </div>
        </div>

        <div class="col-md-3 col-sm-3 col-6 mt-2">
          <div class="card border-2x px-2 py-2">
            <h6 class="no-td-space">Shares Short</h6>
            <h4 class="text-blue no-td-space semi-bold">{{companyData.SharesShort}}</h4>
          </div>
        </div>

        <div class="col-md-3 col-sm-3 col-6 mt-2">
          <div class="card border-2x px-2 py-2">
            <h6 class="no-td-space">Shares Short Prior Month</h6>
            <h4 class="text-blue no-td-space semi-bold">{{companyData.SharesShortPriorMonth}}</h4>
          </div>
        </div>

      </div>

      <div class="row mt-2">

        <div class="col-md-3 col-sm-3 col-6 mt-2">
          <div class="card border-2x px-2 py-2">
            <h6 class="no-td-space">Short Ratio</h6>
            <h4 class="text-blue no-td-space">{{companyData.ShortRatio}}</h4>
          </div>
        </div>

        <div class="col-md-3 col-sm-3 col-6 mt-2">
          <div class="card border-2x px-2 py-2">
            <h6 class="no-td-space">Short Percent Outstanding</h6>
            <h4 class="text-blue no-td-space semi-bold">{{companyData.ShortPercentOutstanding}}</h4>
          </div>
        </div>

        <div class="col-md-3 col-sm-3 col-6 mt-2">
          <div class="card border-2x px-2 py-2">
            <h6 class="no-td-space">Short Percent Float</h6>
            <h4 class="text-blue no-td-space semi-bold">{{companyData.ShortPercentFloat}}</h4>
          </div>
        </div>

        <div class="col-md-3 col-sm-3 col-6 mt-2">
          <div class="card border-2x px-2 py-2">
            <h6 class="no-td-space">Percent Insiders</h6>
            <h4 class="text-blue no-td-space semi-bold">{{companyData.PercentInsiders}}</h4>
          </div>
        </div>

      </div>

      <div class="row mt-2">

        <div class="col-md-3 col-sm-3 col-6 mt-2">
          <div class="card border-2x px-2 py-2">
            <h6 class="no-td-space">Percent Institutions</h6>
            <h4 class="text-blue no-td-space">{{companyData.PercentInstitutions}}</h4>
          </div>
        </div>

        <div class="col-md-3 col-sm-3 col-6 mt-2">
          <div class="card border-2x px-2 py-2">
            <h6 class="no-td-space">Forward Annual Dividend Rate</h6>
            <h4 class="text-blue no-td-space semi-bold">{{companyData.ForwardAnnualDividendRate}}</h4>
          </div>
        </div>

        <div class="col-md-3 col-sm-3 col-6 mt-2">
          <div class="card border-2x px-2 py-2">
            <h6 class="no-td-space">Forward Annual Dividend Yield</h6>
            <h4 class="text-blue no-td-space semi-bold">{{companyData.ForwardAnnualDividendYield}}</h4>
          </div>
        </div>

        <div class="col-md-3 col-sm-3 col-6 mt-2">
          <div class="card border-2x px-2 py-2">
            <h6 class="no-td-space">Payout Ratio</h6>
            <h4 class="text-blue no-td-space semi-bold">{{companyData.PayoutRatio}}</h4>
          </div>
        </div>

      </div>

      <div class="row mt-2">

        <div class="col-md-3 col-sm-3 col-6 mt-2">
          <div class="card border-2x px-2 py-2">
            <h6 class="no-td-space">Dividend Date</h6>
            <h4 class="text-blue no-td-space">{{companyData.DividendDate}}</h4>
          </div>
        </div>

        <div class="col-md-3 col-sm-3 col-6 mt-2">
          <div class="card border-2x px-2 py-2">
            <h6 class="no-td-space">Ex Dividend Date</h6>
            <h4 class="text-blue no-td-space semi-bold">{{companyData.ExDividendDate}}</h4>
          </div>
        </div>

        <div class="col-md-3 col-sm-3 col-6 mt-2">
          <div class="card border-2x px-2 py-2">
            <h6 class="no-td-space">Last Split Factor</h6>
            <h4 class="text-blue no-td-space semi-bold">{{companyData.LastSplitFactor}}</h4>
          </div>
        </div>

        <div class="col-md-3 col-sm-3 col-6 mt-2">
          <div class="card border-2x px-2 py-2">
            <h6 class="no-td-space">Last Split Date</h6>
            <h4 class="text-blue no-td-space semi-bold">{{companyData.LastSplitDate}}</h4>
          </div>
        </div>

      </div>

      <div class="row mt-2">

        <div class="col-md-6 col-sm-12 col-12 mt-2">
          <div class="card border-2x px-2 py-2">
            <h6 class="no-td-space">Address</h6>
            <h4 class="text-blue no-td-space">{{companyData.Address}}</h4>
          </div>
        </div>

        <div class="col-md-6 col-sm-12 col-12 mt-2"></div>

      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="descriptionWindow" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Description</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="type-6 text-dark-grey">
          {{companyData.Description}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Okay</button>
      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>
