<footer class="mt-auto">
  <br />
  <br />
  <div class="container-fluid bg-blue text-white">
    <br />
    <div class="row mt-2">
      <div class="col-md-12">
        <div class="container">
          <div class="row">
            <div class="col-md-6 text-center text-sm-center text-md-left">
              <h3>Hitaya .</h3>
              <h6>Financial Tools to help you Plan your Retirement Better.</h6>
              <br />
              <h6>Made in India.</h6>
            </div>
            <div class="col-md-6">
            </div>
          </div>
        </div>

        <br />

        <div class="container">
          <div class="row mt-2 mb-4">
            <div class="col-md-6 col-sm-12 col-12">
              <h6 class="text-center text-sm-center text-md-left">&copy; 2021 HITAYA .</h6>
            </div>
            <div class="col-md-6 col-sm-12 col-12">
              <ul class="inline-links text-center text-sm-center text-md-right">
                <li class="links">
                  <a class="link" href="/tips">Tips</a>
                </li>
                <li class="links">
                  <a class="link" href="#" routerLink="/about">About</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
