#dashboard-display-multiline-chart {
  max-width: 100%;
}

#dashboard-display-pie-chart {
  max-width: 100%;
}


#dashboard-display-dbl-line-chart {
  max-width: 100%;
}

#dashboard-display-bar-chart {
  max-width: 100%;
}
