
<!doctype html>
<html lang="en">
<head>
  <title>Login 10</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body class="img js-fullheight bg" style="background-image: url(/assets/bg.jpg); height: 45rem;">
  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
          <h2 class="heading-section">Employee Login</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
          <div class="login-wrap p-0">
            <form  #loginForm="ngForm" (ngSubmit)="AdminLogin(loginForm)" class="signin-form">
              <div class="form-group">
                <input type="text" class="form-control"  #emaiRef name="email" ngModel placeholder="Email Id" required>
              </div>
              <div class="form-group">
                <input  #passwordRef name="password" type="password" ngModel class="form-control" placeholder="Password" required>
              </div>
              <div class="form-group mt-5">
                <button type="submit" [disabled]="!loginForm.form.valid" class="form-control btn btn-primary submit px-3">Sign In</button>
              </div>
              
            </form>
            
            
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>

</body>
</html>

