<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />



<app-common-layout *ngIf="commonLayout"></app-common-layout>

<app-user-layout *ngIf="userLayout"></app-user-layout>


<style>
  .custom-super-special-radio {
    display: none;
  }

    .custom-super-special-radio:not(:disabled) ~ label {
      cursor: pointer;
    }

    .custom-super-special-radio:disabled ~ .custom-super-special-radio label {
      color: #0d83dd;
      border-color: #0d83dd;
      box-shadow: none;
      cursor: not-allowed;
    }

  .custom-super-special-label {
    height: 100%;
    display: block;
    background: white;
    border: 2px solid #0d83dd;
    border-radius: 10px;
    padding: 1rem;
    padding-top: 1.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
    box-shadow: 0px 3px 10px -2px rgba(13, 131, 221, 0.5);
    position: relative;
  }

  .custom-super-special-radio:checked + .custom-super-special-label {
    background: #0D83DD;
    color: white;
    box-shadow: 0px 0px 20px rgba(13, 131, 221, 0.4);
  }

    .custom-super-special-radio:checked + .custom-super-special-label::after {
      color: #3d3f43;
      font-family: FontAwesome;
      border: 2px solid #0D83DD;
      content: "";
      font-size: 24px;
      position: absolute;
      top: -25px;
      left: 50%;
      transform: translateX(-50%);
      height: 50px;
      width: 50px;
      line-height: 45px;
      text-align: center;
      border-radius: 50%;
      background: white;
      box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.25);
    }

  /* The Checkboxes */
  /* Hide the browser's default checkbox */

  .checkbox-group-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkbox-group-special-checkmark {
    position: absolute;
    top: 2px;
    height: 24px;
    width: 24px;
    background-color: #eee;
  }

  .checkbox-group-special-text {
    position: absolute;
    top: 0;
    left: 50px;
  }

  /* On mouse-over, add a grey background color */
  .checkbox-group-container:hover input ~ .checkbox-group-special-checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  .checkbox-group-container input:checked ~ .checkbox-group-special-checkmark {
    background-color: #2196F3;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkbox-group-special-checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .checkbox-group-container input:checked ~ .checkbox-group-special-checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .checkbox-group-container .checkbox-group-special-checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* Another Custom Checkboxes
    ----------------------------------------- */
  .span_pseudo,
  .chiller_cb span:before,
  .chiller_cb span:after {
    content: "";
    display: inline-block;
    background: #fff;
    width: 0;
    height: 0.2rem;
    position: absolute;
    transform-origin: 0% 0%;
  }

  .chiller_cb {
    position: relative;
    height: 2rem;
    display: flex;
    align-items: center;
  }

    .chiller_cb input {
      display: none;
    }

      .chiller_cb input:checked ~ span {
        background: #0d83dd;
        border-color: #0d83dd;
      }

      .chiller_cb input:hover ~ span {
        border-color: #0d83dd;
        box-shadow: 0px 0px 20px rgba(13, 131, 221, 0.4);
      }

      .chiller_cb input:checked ~ span:before {
        width: 1rem;
        height: 0.15rem;
        transition: width 0.1s;
        transition-delay: 0.2s;
      }

      .chiller_cb input:checked ~ span:after {
        width: 0.4rem;
        height: 0.15rem;
        transition: width 0.1s;
        transition-delay: 0.2s;
      }

      .chiller_cb input:disabled ~ span {
        background: #ececec;
        border-color: #dcdcdc;
      }

      .chiller_cb input:disabled ~ label {
        color: #dcdcdc;
      }

        .chiller_cb input:disabled ~ label:hover {
          cursor: default;
        }

    .chiller_cb label {
      padding-left: 2rem;
      position: relative;
      z-index: 2;
      cursor: pointer;
      margin-bottom: 0;
    }

    .chiller_cb span {
      display: inline-block;
      width: 1.2rem;
      height: 1.2rem;
      border: 2px solid #ccc;
      position: absolute;
      left: 0;
      transition: all 0.2s;
      z-index: 1;
      box-sizing: content-box;
    }

      .chiller_cb span:before {
        transform: rotate(-55deg);
        top: 1rem;
        left: 0.37rem;
      }

      .chiller_cb span:after {
        transform: rotate(35deg);
        bottom: 0.35rem;
        left: 0.2rem;
      }
</style>


<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col-md-12">
      <h2 class="mb-0">Wallet</h2>
      <p class="text-muted type-6 mt-0"><i class="fa fa-circle fa-fw fa-sm text-success"></i> Ethereum Main Network</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">

      <div class="card border-2x mb-3" id="basic-details-2">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 text-center">
              <img src="assets/profile-pic.png" class="img-fluid" />
            </div>
            <div class="col-md-8 text-center">
              <h2 class="mt-3 text-dark-grey">{{user.balance}} ETH</h2>
              <br />
            </div>
          </div>

          <div class="row mt-2 text-center text-sm-left">
            <div class="col-md-12">
              <h3 class="mb-0">{{userName}}</h3>
              <br />
              <p class="text-muted type-7 mt-0">{{user.address}}</p>

              <div class="row mt-4 text-center">
                <div class="col-md-3 col-sm-3 col-3">
                  <button class="btn btn-primary btn-sm">
                    <i class="fa fa-arrow-down fa-fw"></i>
                  </button>
                  <p class="small text-primary">Receive</p>
                </div>
                <div class="col-md-3 col-sm-3 col-3">
                  <button class="btn btn-primary btn-sm">
                    <i class="fa fa-arrow-up fa-fw"></i>
                  </button>
                  <p class="small text-primary">Send</p>
                </div>
                <div class="col-md-3 col-sm-3 col-3">
                  <button class="btn btn-primary btn-sm">
                    <i class="fa fa-credit-card fa-fw"></i>
                  </button>
                  <p class="small text-primary">Buy</p>
                </div>
                <div class="col-md-3 col-sm-3 col-3">
                  <button class="btn btn-primary btn-sm">
                    <i class="fa fa-exchange-alt fa-fw"></i>
                  </button>
                  <p class="small text-primary">Swap</p>
                </div>
              </div>

            </div>
          </div>

          <form [formGroup]="userForm" (ngSubmit)="submitForm()">


            <div class="form-group row">
              <h5 class="col-md-4 mt-1">ADDRESS:</h5>
              <input class="form-control form-control-sm col-md-8" placeholder="Transfer Address" name="transferAddress"
                     formControlName="transferAddress" maxlength="42" minlength="42" required>
              <!--<div *ngFor="let validation of accountValidationMessages.transferAddress">
                <p *ngIf="userForm.get('transferAddress').hasError(validation.type) && (userForm.get('transferAddress').dirty || userForm.get('transferAddress').touched)">{{validation.message}}</p>
              </div>-->
            </div>




            <div class="form-group row">
              <h5 class="col-md-4 mt-1">ETHE WEI:</h5>
              <input class="form-control form-control-sm col-md-8" placeholder="Amount" name="amount"
                     formControlName="amount" required>
              <!--<div *ngFor="let validation of accountValidationMessages.amount">
                <p *ngIf="userForm.get('amount').hasError(validation.type) && (userForm.get('amount').dirty || userForm.get('amount').touched)">{{validation.message}}</p>
              </div>-->
            </div>


            <div class="mb-4">
              <button class="btn btn-success float-right" type="submit">Transfer Ether</button>
            </div>


          </form>

        </div>
      </div>

    </div>

    <div class="col-md-8">

     

      <div class="card border-2x" id="basic-details-2">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#transactions" role="tab"
                     aria-controls="home" aria-selected="true">
                    <strong>TRANSACTIONS</strong>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="home-tab" data-toggle="tab" href="#contacts" role="tab" aria-controls="home"
                     aria-selected="true">
                    <strong>CONTACTS</strong>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#nfts" role="tab" aria-controls="profile"
                     aria-selected="false">
                    <strong>NFTs</strong>
                  </a>
                </li>
              </ul>

              <div class="tab-content mx-4" id="myTabContent">
                <div class="tab-pane fade show active" id="transactions" role="tabpanel" aria-labelledby="tokens-tab">
                  <div class="row">
                    <div class="col-3 col-sm-2 col-md-2">
                      <img src="assets/profile-pic.png" class="img-fluid" />
                    </div>
                    <div class="col-9 col-sm-10 col-md-10 mt-md-2">
                      <h4 class="mb-0 bold">10 ETH</h4>
                      <p class="mt-0 no-td-space text-muted type-6">$0</p>
                    </div>
                  </div>

                  <hr />

                  <div class="row mt-4">
                    <div class="col-3 col-sm-2 col-md-2">
                      <img src="assets/profile-pic.png" class="img-fluid" />
                    </div>
                    <div class="col-9 col-sm-10 col-md-10 mt-md-2">
                      <h4 class="mb-0 bold">0 ETH</h4>
                      <p class="mt-0 no-td-space text-muted type-6">$0</p>
                    </div>
                  </div>

                  <hr />
                </div>
                <div class="tab-pane fade" id="contacts" role="tabpanel" aria-labelledby="tokens-tab">
                  <div class="row">
                    <div class="col-md-12">
                      <button class="btn btn-primary btn-sm float-right"><i class="fa fa-plus"></i> Add Contact</button>
                    </div>
                  </div>

                  <hr />

                  <div class="row">
                    <div class="col-3 col-sm-2 col-md-2">
                      <img src="assets/profile-pic.png" class="img-fluid" />
                    </div>
                    <div class="col-9 col-sm-10 col-md-10 mt-md-2">
                      <h4 class="mb-0 bold">StarBucks</h4>
                      <p class="mt-0 no-td-space text-muted type-6">dshfsjr8259fhjsgfydhasry39</p>
                      <button class="btn btn-link btn-sm"><i class="fa fa-edit"></i> Edit</button>
                    </div>
                  </div>

                  <hr />

                  <div class="row mt-4">
                    <div class="col-3 col-sm-2 col-md-2">
                      <img src="assets/profile-pic.png" class="img-fluid" />
                    </div>
                    <div class="col-9 col-sm-10 col-md-10 mt-md-2">
                      <h4 class="mb-0 bold">Veggie Grill</h4>
                      <p class="mt-0 no-td-space text-muted type-6">sjfhjgdfhdfkdoe8ytudshfkjsdfkj</p>
                      <button class="btn btn-link btn-sm"><i class="fa fa-edit"></i> Edit</button>
                    </div>
                  </div>

                  <hr />
                </div>
                <div class="tab-pane fade" id="nfts" role="tabpanel" aria-labelledby="nfts-tab">
                  <div class="text-center text-dark-grey">
                    <i class="fa fa-circle-notch fa-3x fa-fw"></i>
                    <h3 class="mt-2 mb-0">No NFTs yet</h3>
                    <a href="#">Learn More</a>
                  </div>

                  <div class="row text-center text-muted mt-4">
                    <div class="col-md-12">
                      <p class="type-6 mb-0">Don't see your NFT?</p>
                      <a class="type-6 mt-0" href="#">+ ADD NFTs</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!--<form [formGroup]="userForm" (ngSubmit)="submitForm()"
      novalidate autocomplete="off">
  <div class="container">
    <div class="transfer-container">
      <div>
        Address: {{user.address}} <br />
        Balance: {{user.balance}} Eth
      </div>

        <input matInput placeholder="Transfer Address" name="transferAddress" formControlName="transferAddress"
               maxlength="42" minlength="42" required>
        <mat-error *ngFor="let validation of accountValidationMessages.transferAddress">
          <mat-error *ngIf="userForm.get('transferAddress').hasError(validation.type) && (userForm.get('transferAddress').dirty || userForm.get('transferAddress').touched)">{{validation.message}}</mat-error>
        </mat-error>


        <input matInput placeholder="Amount" name="amount" formControlName="amount" required>
        <mat-error *ngFor="let validation of accountValidationMessages.amount">
          <mat-error *ngIf="userForm.get('amount').hasError(validation.type) && (userForm.get('amount').dirty || userForm.get('amount').touched)">{{validation.message}}</mat-error>
        </mat-error>


        <input matInput placeholder="Remarks" name="remarks" formControlName="remarks"
               maxlength="42" required>
        <mat-error *ngFor="let validation of accountValidationMessages.remarks">
          <mat-error *ngIf="userForm.get('remarks').hasError(validation.type) && (userForm.get('remarks').dirty || userForm.get('remarks').touched)">{{validation.message}}</mat-error>
        </mat-error>

      <div style="width: 100px">
        <button type="submit">Transfer Ether</button>
      </div>
    </div>
  </div>
</form>-->
